* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;

    background-color: var(--light-green);
}

:root {
    --light-green:rgb(148,176,131);
    --dark-green:rgb(36,78,35);
    --light-orange:rgb(248,230,216);
    --dark-orange:rgb(234,89,28);
}

.carga {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);

    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s;
}

.carga > h2 {
    margin: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    color: white;
}

.loader {
    background-color: transparent;
    color: white;
    font-size: 7px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}
  
@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 
        2em -2em 0 0em, 3em 0 0 -1em, 
        2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
        3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 
        2em -2em 0 0, 3em 0 0 0.2em, 
        2em 2em 0 0, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
        -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
        -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
        -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
        3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

h1 {
    line-height: 1;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-size: 25em;

    background-color: transparent;
    color: white;
}

h2 {
    margin: 0 0 0 50px;
    padding: 20px 10px;

    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    font-weight: bolder;

    color: white;
    background-color: transparent;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

i {
    background-color: var(--dark-green);
    color: white;
}

i:hover {
    color: var(--light-green);
}

button {
    height: 75px;
    width: 250px;
    margin: 20px;

    color: white;
    border: 0;
    background-color: var(--dark-green);

    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 2em;
} 

button:hover {
    color: var(--dark-orange);
    background-color: var(--light-orange);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    background-color: var(--light-green);
}

header > div:first-of-type {
    display: flex;
    align-self: center;
    margin-bottom: 25px;
    
    background-color: transparent;
    z-index: 1;
}

#menu > ul > li:first-child {
    position: fixed;
    left: 0;

    font-size: 1em;
    font-weight: bolder;
}

#menu > ul > li:first-child > a {
    color: white;
}

#menu {
    top: 0;
    width: 100%;
    height: 6em;
    z-index: 99;
    display: block;
    position: fixed;
    background-color: var(--dark-green);
}

#menu > ul {
    display: flex;
    justify-content: flex-end;

    position: fixed;

    list-style-type: none;

    top: 0;
    width: 100%;

    background-color: var(--dark-green);
}

#menu > ul > li > a, .dropbtn {
    display: block;

    text-decoration: none;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;

    padding: 24px 26px;
   
    color: white;
    background-color: var(--dark-green);
}

#menu > ul > li > a:hover, .dropdown-content a:hover {
    color: var(--light-green);
}

#menu > i, 
#menu > ul > li:last-child {
    display: none;
    cursor: pointer;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color:white;
    background-color: var(--dark-green);
    padding: 20px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 20px;

    background-color: var(--dark-green);
}

.icons > li > a {
    padding: 10px;
    background-color: var(--dark-green);
}

.icons > li > a > i {
    font-size: 1.5em;
}

#search {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 0;
    width: auto;

    background-color: var(--dark-blue);
}

#search > form {
    background-color: transparent;
}

#search > form > input {
    border-radius: 50px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

#products > .portada {
    margin: 100px;
}

.portada > h1 {
    font-size: 4em;
    font-weight: bolder;
    color: var(--dark-orange);
    background-color: var(--light-orange);
    border-radius: 20px;
    padding: 20px;
    z-index: 1;
}

#video {
    position: absolute;
    width: 100%;
    right: 0;
    top: 5em;
    z-index: 0;
}

.container {
    margin: 0;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 75px;
    position: relative;
    z-index: 1;
    background-color: var(--light-green);
}

#invert {
    flex-direction: row-reverse;
}

#info {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-green);

    padding: 50px;
}

#info > p {
    text-align: center;
    font-size: 1.2em;
}

.popular {
    position: relative;
    z-index: 1;
    background-color: var(--dark-green);
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.card {
    width: 390px;
    margin: 20px 80px;
    border: none;

    background-color: transparent;
}

.card > img {
    height: 100%;
    width: auto;
}

.card > img:hover {
    background-color: var(--light-green);
    opacity: 0.5;
    transition: ease-in-out .5s;
}

.card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > div > h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: white;
    align-self: flex-start;
}

.card > div > a {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: var(--dark-orange);
    border: none;
    padding: 20px;
    width: 100%;
}

.card > div > a:hover {
    color: var(--dark-orange);
    background-color: var(--light-orange);
}

.marquee {
    display: flex;
    align-items: center;

    position: relative;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;

    background-color: var(--light-orange);
}
  
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.content > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    margin: 0;

    color: var(--dark-orange);
    background-color: var(--light-orange);

    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 2em;
}

.content > ul > li {
    background-color: var(--light-orange);
}

footer {
    position: relative;
    z-index: 1;
    height: 200px;
    background-color: var(--dark-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rrss {
    background: transparent;
    text-align: center;
}

.rrss > a {
    background: transparent;
    display: contents;
}

.rrss > a > i {
    background: transparent;
    font-size: 3em;
    color: white;
    margin: 0 20px;
}

[class*="col"] {
    background-color: transparent;
    
    margin: 0;
    padding: 0;
}

/* MEDIA QUERIES */
/* TABLET */
@media screen and (max-width: 820px) {

    h1 {
        padding: 170px 0 0 0;    
    }
    
    h2 {
        font-size: 3em;
    }

    p {
        font-size: 1.25em;
    }

    a {
        font-size: 1.4em;
    }

    header {
        flex-direction: column;
        align-items: center;
        align-content: flex-start;
    }

    header > div:first-of-type {
        width: 100%;
        padding: 50px;
    }

    button {
        font-size: 1.5em;
    }
    
    #menu {
        height: 5em;
        background-color: var(--dark-green);
    }

    #menu > i {
        display: flex;
        justify-content: flex-start;
        margin: 16px;
        background: transparent;

        position: relative;
        top: 1em;
    }

    #menu > ul {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        z-index: 1;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition-duration: 1s;
        opacity: 0.9;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }
      
    #menu > ul > li:first-of-type {
        display: none;
    }

    #menu > ul > li:last-child {
        display: block;
        position: absolute;
        right: 1em;
        top: 0.8em;
        line-height: 0;
        margin: 16px;
    }

    #menu > ul > li:last-child > i {
        font-size: 1.5em;
        cursor: pointer;
    }

    #menu > ul > li > a {
        color: white;
        font-size: 2em;
    }

    #video {
        position: absolute;
        height: 100vh;
        width: auto;
        top: 0;
    }

    .icons {
        gap: 50px;
    }

    #search {
        display: none;
    }

    .row {
        flex-direction: column;
    }

    #invert {
        flex-direction: column;
    }

    #info {
        padding: 50px;
        width: 100%;
    }

    .popular {
        z-index: 0;
    }

    .galeria {
        z-index: 0;
    }

    .card {
        width: 330px;
        margin: 20px 20px;
    }

    .marquee {
        height: 80px;
    }

    .content > ul {
        font-size: 1.5em;
    }

    .rrss > a > i {
        font-size: 2em;
    }
    
}

/* MÓVIL */
@media (max-width: 480px) {

    h1 {
        padding: 140px 0 0 0;    
        font-size: 15em;    
    }

    h2 {
        margin: 0 0 0 20px;
        font-size: 2em;
    }

    header > div:first-of-type {
        padding: 0;
    }
    
    .portada > h1 {
        font-size: 2em;  
        margin: 10px;  
    }

    #video {
        height: 100%;
    }

    #menu > ul > li > a {
        font-size: 1.5em;
    }

    .content > ul {
        font-size: 1.2em;
    }

    .rrss > a > i {
        font-size: 1.5em;
    }

}
